.cookingSection {
    background-color: #fff;
    padding: 50px 20px;
  }
  
  .cookingTitle {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .cookingDescription {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .recipeList {
    list-style-type: none;
    padding: 0;
  }
  
  .recipeItem {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .recipeItem:last-child {
    border-bottom: none;
  }
  