.workoutsSection {
    background-color: #fff;
    padding: 50px 20px;
  }
  
  .workoutsTitle {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .workoutsDescription {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .workoutList {
    list-style-type: none;
    padding: 0;
  }
  
  .workoutItem {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .workoutItem:last-child {
    border-bottom: none;
  }
  