.learningSection {
    background-color: #fff;
    padding: 50px 20px;
  }
  
  .learningTitle {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .learningDescription {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .learningList {
    list-style-type: none;
    padding: 0;
  }
  
  .learningItem {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .learningItem:last-child {
    border-bottom: none;
  }
  