.readingSection {
    background-color: #fff;
    padding: 50px 20px;
  }
  
  .readingTitle {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .readingDescription {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .bookList {
    list-style-type: none;
    padding: 0;
  }
  
  .bookItem {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .bookItem:last-child {
    border-bottom: none;
  }
  